.container {
  min-width: 400px;
  margin-inline: auto;
}

.banner {
  display: flex;
  justify-content: center;
  column-gap: 12px;
  margin-bottom: 6px;
  padding-block: 14px;
}

.divider {
  width: 2px;
  height: 54px;
}

.tabs {
  padding: 24px;
  border-radius: 16px;
  background-color: #fff;
  box-shadow: 0px 0px 16px 0px rgba(58, 58, 58, 0.1);
}

.formItem {
  margin-bottom: 0;
}

.input {
  border-radius: 2px;
}

.btn {
  width: 100%;
  background-color: #365fac;
  border-radius: 2px;
}
